// Base style sheet

.button.primary [class*="#{$classPrefix}"] {
	color: lighten($primary-color, 15%);
}

.photo-right {
	float: right;
	margin: 0 0 1rem 1rem;
}

.photo-left {
	float: left;
	margin: 0 1rem 1rem 0;
}

.accordion h3.title {
	margin: 0;
}

.section-container section .title a, .section-container .section .title a {white-space: normal;}

i.tri {
	
	@include css-triangle(10, #ccc, top);
	display: inline-block;
}

.gift {border-bottom: 1px solid #f1f1f1;}